<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
    crossorigin="anonymous"> -->

    <link type="text/css" rel="stylesheet" href="CSS/bootstrap.min.css" media="screen, projection">
    <title>Not find</title>
</head>
<body>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">Page not found</h1>
    </header>

    <main>
        <div>
            <h3 style="text-align:center;">Error: 404</h3>
        </div>

        <img src="https://pm1.narvii.com/6827/4e3e6d3997f0e27c107ca5323e6ea8f5985e3edev2_hq.jpg"
        width="100%" alt="Skullkid">

    </main>

</body>
</html>