<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
    crossorigin="anonymous">
    <title>Enemigo</title>
</head>
<body>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">The child didn't know...</h1>
    </header>

    <main>
        <div>
            <h3 style="text-align:center;">That this mask was very malicious and he made the biggest mistake in his life...</h3>
        </div>

        <img src="https://fsb.zobj.net/crop.php?r=Ofkfk1UoRM-OY9Kt_-REcdrz3AQbdOmJldVviL6vShINxmKwGKBx_ENd3G-uVKttlklTd1Wl7m62Zy3B8BCrK1yMKMQqYzrKDQ-vqMiVGWcA_Xn13iL4uxdxw4ggAbcUhP8U8ot6SiJxY6AJ"
        width="100%" alt="Skullkid">

        <div>
            <h3 style="text-align:center;">He put it on and now the mask is killing him</h3>
        </div>

        <div class="container">
            <div class="row">
              <div class="col-11">
              </div>
              <div class="col-1">
                <button button type="button" class="btn btn-dark btn-lg">NEXT</button>
              </div>
            </div>
        </div>

    </main>

</body>
</html>