<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<body>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">The child didn't know...</h1>
    </header>

    <main>
        <div>
            <h3 style="text-align:center;">That this mask was very malicious and he made the biggest mistake in his life...</h3>
        </div>

        <img src="https://fsb.zobj.net/crop.php?r=Ofkfk1UoRM-OY9Kt_-REcdrz3AQbdOmJldVviL6vShINxmKwGKBx_ENd3G-uVKttlklTd1Wl7m62Zy3B8BCrK1yMKMQqYzrKDQ-vqMiVGWcA_Xn13iL4uxdxw4ggAbcUhP8U8ot6SiJxY6AJ"
        width="100%" alt="Skullkid">

        <div>
            <h3 style="text-align:center;">He put it on and now the mask is killing him</h3>
        </div>

        <div class="container">
            <div class="row">
              <div class="col-11">
              </div>
              <div class="col-1">
                <button type="submit" class="btn btn-dark btn-lg"  onclick = ' window.location.href = "/historia/heroe" ' >NEXT</button>
              </div>
            </div>
        </div>

    </main>

</body>
</html>