<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
    crossorigin="anonymous">
    <title>Hero</title>
</head>
<body>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">You need to save him</h1>
    </header>

    <main>
        <div>
            <h3 style="text-align:center;">¡You will fight next to link!</h3>
        </div>

        <img src="https://64.media.tumblr.com/36c5d3383a1b999a569c1e1e321ef491/tumblr_mo1k4cRd2j1s973n3o1_500.gifv"
        width="100%" alt="link">

        <div class="container">
            <div class="row">
              <div class="col-6">
                <h4 style="text-align: end;">Choose your fighter -></h4>
                  
              </div>
              <div class="col-1">
                <button button type="button" class="btn btn-dark btn-lg">NEXT</button>
              </div>
            </div>
        </div>

    </main>

</body>
</html>