<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<body>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">A long long time ago</h1>
    </header>

    <main>
        <div>
            <h3 style="text-align:center;">There was a little child that found a mask...</h3>
        </div>

        <img src="https://imagen.nextn.es/wp-content/uploads/2014/11/1411-08-The-Legend-of-Zelda-Majoras-Mask-Aonuma-Miiverse-3DS-1.jpg?strip=all&lossy=1&ssl=1"
        width="100%" alt="Skullkid">

        <div class="container">
            <div class="row">
              <div class="col-11">
              </div>
              <div class="col-1">
                <button button type="button" class="btn btn-dark btn-lg" onclick = ' window.location.href = "/historia/enemigo" ' >NEXT</button>
              </div>
            </div>
        </div>

    </main>

</body>
</html>