<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<main class="container">
    <h1><%= titulo %></h1>
    <form action="nuevo-personaje" method="POST">
        <input type="text" name="nombre_personaje">
        <input type="submit" value="Guardar personaje" onclick = ' window.location.href = "/historia/personajes" '>
    </form>
</main>