<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>
<body>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">This is part of your team</h1>
    </header>

    <main>

        <img src="https://pm1.narvii.com/6525/5f7068b64a7f8a32f6d885f8fc5e3cdcda3404d5_hq.jpg"
        width="100%" alt="team">

        <div style="text-align: center;">
            <h2>Characters:</h2>

            <ul style="text-align: center;">
                <% for (let personaje of lista_personajes){ %>
                    <li><%= personaje %></li>
                <% } %>
            </ul>

        </div>


    </main>

</body>
</html>