<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>


<body>
  <header>
    <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">You need to save him</h1>
  </header>

  <main>
    <div>
      <h3 style="text-align:center;">¡You will fight next to link!</h3>
    </div>

    <img src="https://64.media.tumblr.com/36c5d3383a1b999a569c1e1e321ef491/tumblr_mo1k4cRd2j1s973n3o1_500.gifv"
    width="100%" alt="link">

    <div class="container">

      <div class="row">

        <div class="col text-center">
          <button button type="button" class="btn btn-dark btn-lg" onclick = ' window.location.href = "/historia/personajes" ' >NEXT</button>
        </div>

      </div>
      
    </div>

  </main>

</body>
</html>