<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<main>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">¡Log to see the story!</h1>
    </header>

    <img src="https://pa1.narvii.com/6257/20a8472f1f40d77c57343485a3a789b963a4c90c_hq.gif" width="100%" alt="team">

    <h1 style="text-align: center;"><%= titulo %></h1>

    <div class="container">

        <div class="row">

            <div class="col text-center">

                <form action="/users/login" method="POST">
                    <input type="text" name="usuario" placeholder="username">
                    <br>
                    <input type="password" name="password" placeholder="password">
                    <br>
                    <input type="submit" value="Ingresar">
                </form>
                <br>

            </div>

        </div>

    </div>

</main>