@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
    background-color: bisque;
    border: 3px solid #e81c4f;
    border-radius: 300px;
}

header {
    text-align:center;
    color: darkblue;
}

#lab1 {
    text-align:center;
    color:darkgreen;
}

#lab3{
    text-align:center;
    color:darkred;
}

#lab4{
    text-align:center;
    color: darkgoldenrod;
}

#lab5{
    text-align:center;
    color: darkviolet;
}

a{
    color: red;
}

strong{
    color: saddlebrown;
}

footer{
    text-align:center;
}

header h1:hover {
    background:  #0ab443;
    color: rgb(255, 255, 255);
}

.color_matricula:hover {
    background:  #ffffff;
    color: rgb(0, 0, 0);
}

header #correo:hover {
    background:  #ff0040;
    color: rgb(255, 255, 255);
}

table{
    text-align:center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

th, td {
    padding: 5px;
    text-align: left;    
}

#Ejercicios{
    text-align:center;
}

#Ejs{
    text-align:center;
    color: darkcyan;
}